* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  text-shadow: 2px 2px 7px black;
  max-width: 80vw;
  height: 2em;
  border-radius: 50px;
  margin: auto;
  padding: 0 auto;
}
.search {
  margin-top: 5%;
}
.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  position: relative;
  height: 5.5em;
}
.search .input {
  border-radius: 18px;
  border: none;
  background-color: white;
  font-size: 2em;
  padding: 15px;
  margin-right: 2em;
  height: 2.5em;
  width: 2.5em;
  transition: 0.3s;
}
.btn {
  background-color: #fff;
  border-radius: 18px;
  border: none;
  height: 5.9em;
  width: 5.7em;
  position: absolute;
  top: 0;
  left: 0;
}
.fa-solid {
  font-size: 30px;
}
.search.active .input {
  width: 350px;
  padding-left: 100px;
}
.btn:focus,
.input:focus {
  outline: none;
}
.fa-magnifying-glass {
  color: #ccc;
  transition: 0.3s;
}
.search.active .fa-magnifying-glass {
  color: black;
}
